/* Credit:
	Design and Develop by Devance
*/

/* Font Family/Style -- Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Roboto:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


:root{  

    /* fonts size */
    --head: 3rem;
    --s_head: 1.6rem;
    --text: 1.125rem;
}

.container{
    min-height: 100vh;
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  
    background: linear-gradient(to right, #89216B, #DA4453);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    margin: 1em;

}


.sign-up_box{
    border: 0;
    border-radius: 2em 0 0 0;
    background-color: rgb(214, 145, 189);
    max-width: 500px;
    text-align: center;
    padding: .8em .6em 1.3em .6em;
    
}


.heading{
    color: rgb(255, 255, 255);
    font-size: var(--head);
    margin-bottom: .3em;
}


input{
    padding: 0.5em 0.3em 0.5em 0.8em;
    width: 85%;
    margin: 0.4em 0;
    outline: none;
    border: 0;
    border-radius: 5px;
    font-size: var(--text);
}

input:focus{
    outline: none;
}

input::placeholder{
    text-align: center;
    color: rgb(66, 65, 65)
}

.name{
    max-width: 42% !important;
}

.btn{
    display: block;
    width: 100%;
    background-color: rgb(211, 97, 196);
    border: 0;
    outline: none;
    font-size: var(--s_head);
    padding: 0.125em 0;
    border-radius: 0 0 3em 3em;
    
}

.btn:hover{
    background-color: #f7eaf3;
    cursor: pointer;
}


/* For small mobile device */

@media (min-width:100px) and (max-width:250px){
    :root{  
        --head: 1.5rem;
        --s_head: 1rem;
        --text: .8rem;
    }

    
    .sign-up_box{
        padding: .4em;
        max-width: 250px;
    }

    .name{
        max-width: 100% !important;
        
    }

}


/* For mobile device  */

@media (min-width:251px) and (max-width: 500px){

    
    .name{
        max-width: 100% !important;
        
    }
}



/* For 4k and full HD+ screen */

@media (min-width:2000px){
    :root{  

        /* fonts size */
    
        --head: 8rem;
        --s_head: 3.6rem;
        --text: 2.25rem;
    }
    

    .sign-up_box{
        max-width: 1000px;
      

    }
    
}




