<!doctype html>
<html lang="es">

<head>
  <%- include('./partials/head', { title: "Iniciar sesión" }) %>
    <link rel="stylesheet" href="/css/form2.css">
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>

  <!-- <main> -->

  <section class="bg-home pt-15">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto bg-light pt-2 ">
          <!--Aquí muestro los errores del lado del Js-Front -->


          <div class="signup-form">
            <div class="alert alert-success">
              <img src="/img/banner/en-construccion.png">
            </div>
            <br>
            <div class="text-center mb-3"><a href="/">Regrese a la página de inicio</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>

  <footer class="footer-distributed">
    <%- include('./partials/footer') %>
  </footer>

  <script src="/js/login.js"></script>
</body>

</html>