<!DOCTYPE html>
<html lang="es">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>
        <title>Productos</title>
    </head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <!-- Service Section -->
    <section id="services">
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon">
                    <img src="../img/vino/vinotintocastillo.png" />
                </div>
                <a href="/products/vinos">
                    <h2>Vinos</h2>
                </a>

            </div>
            <div class="service-item">
                <div class="icon">
                    <img src="../img/whisky/buchanansdeluxe.png" />
                </div>
                <a href="/products/whisky">
                    <h2>Whisky</h2>
                </a>
            </div>
            <div class="service-item">
                <div class="icon"><img src="../img/tequila/donjulio.png" /></div>
                <a href="/products/tequila">
                    <h2>Tequila</h2>
                </a>
            </div>

            <div class="service-item">
                <div class="icon"><img src="../img/ron/ron.jpg" /></div>
                <a href="/products/ron">
                    <h2>Ron</h2>
                </a>
            </div>

            <div class="service-item">
                <div class="icon"><img src="../img/ron/ron.jpg" /></div>
                <a href="/products/coctel">
                    <h2>Coctelería</h2>
                </a>
            </div>
        </div>
    </section>

    <!-- End Service Section -->

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>