<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head', { title: "Productos" }) %>
  </head>
  <body>
    <header><%- include('partials/header'); %></header>

    <!-- Service Section -->
    <section id="services">
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon">
            <img src="../img/vino/vinotintocastillo.png" />
          </div>
          <a href="/products/vinos">
            <h2>Vinos</h2>
          </a>
        </div>
        <div class="service-item">
          <div class="icon">
            <img src="../img/whisky/buchanansdeluxe.png" />
          </div>
          <a href="/products/whisky">
            <h2>Whisky</h2>
          </a>
        </div>
        <div class="service-item">
          <div class="icon"><img src="../img/tequila/donjulio.png" /></div>
          <a href="/products/tequila">
            <h2>Tequila</h2>
          </a>
        </div>

        <div class="service-item">
          <div class="icon"><img src="../img/ron/ron.jpg" /></div>
          <a href="/products/ron">
            <h2>Ron</h2>
          </a>
        </div>

        <div class="service-item">
          <div class="icon"><img src="../img/ron/ron.jpg" /></div>
          <a href="/products/coctel">
            <h2>Coctelería</h2>
          </a>
        </div>
      </div>
    </section>

    <!-- End Service Section -->

    <footer><%- include('partials/footer'); %></footer>
  </body>
</html>
