<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/head', { title: "Productos" }) %>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <h1>Producto actualizado </h1>

    <footer class="footer-distributed">
        <%- include('partials/footer'); %>
    </footer>
</body>

</html>