<!DOCTYPE html>
<head>
<%- include('./partials/head', { title: "Iniciar sesión" }) %>
</head>

  <body>
    <header>
      <%- include('./partials/header') %>
    </header>

    <!-- <main> -->
    <div class="container right-panel-active">
      <!-- Sign Up -->
      <div class="container__form container--signup">
        <form action="/user/register" method="POST" class="form" id="form1">
          <h2 class="form__title">Formulario de Registro</h2>
          <!-- <input type="text" placeholder="User" class="input" /> -->

          <input class="input" type="text" name="name" id="name" placeholder="Nombre">
          <input class="input" type="text" name="apellido" id="apellido" placeholder="Apellido">
          <input type="email" name="correo" placeholder="Email" class="input" />
          <input type="password" name="password" placeholder="Contraseña" class="input" />
          <input class="input" type="password" name="re_password" placeholder="Repetir contraseña">
          <input class="input" type="tel" name="telefono" id="telefono" placeholder="Teléfono">
          <input class="input" type="tel" name="ciudad" id="ciudad" placeholder="Ciudad">
          
          <!-- <button class="btn">Sign Up</button> -->
          <input class="box-avatar__input" type="file" name="avatar" id="avatar" data-nombre="avatar">
          <button type="submit" class="cart-btn">Registrarse</button><br>
        </form>
      </div>

      <!-- Sign In -->
      <div class="container__form container--signin">
        <form action="#" class="form" id="form2">
          <h2 class="form__title">Sign In</h2>
          <input type="email" placeholder="Email" class="input" />
          <input type="password" placeholder="Password" class="input" />
          <a href="#" class="link">Forgot your password?</a>
          <button class="btn">Sign In</button>
        </form>
      </div>

      <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <!-- <button class="btn" id="signIn">Sign In</button> -->
          </div>
          <div class="overlay__panel overlay--right">
            <!-- <button class="btn" id="signUp">Sign Up</button> -->
          </div>
        </div>
      </div>
    </div> <!-- </main> -->

    <footer>
      <%- include('./partials/footer') %>
    </footer>
  </body>
  </html>