<!DOCTYPE html>
<head>
<%- include('./partials/head', { title: "Registrar Usuario nuevo" }) %>
<link rel="stylesheet" href="/css/form2.css">
</head>

  <body>
    <header>
      <%- include('./partials/header') %>
    </header>

    <!-- <main> -->
      <div class="container">  
        <form id="contact" action="/user/register" method="POST" class="form" id="form1">
          <h3>Formulario de Registro</h3>
          <h4>Contact us today, and get reply with in 24 hours!</h4>
          <fieldset>
            <input placeholder="Nombre" type="text" name="nombre" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Apellido" type="text" name="apellido" tabindex="1" required autofocus>
          </fieldset>          
          <fieldset>
            <input placeholder="Correo" type="email" name="correo" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Password" type="password" name="password" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Repita Password" type="password" name="re_password" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Teléfono" type="tel"  name="telefono" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Ciudad" type="text" name="ciudad" tabindex="4" required>
          </fieldset>
          <!-- <fieldset><div class="file-select" id="img" >
            <input type="file" tabindex="5" name="img" aria-label="Archivo"> </div>
          </fieldset> -->
          <fieldset><div class="file-select" id="img" >
            <input type="file" value="Adjuntar documento" name="img" id="img">
          </fieldset>
          <fieldset>
            <!-- <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button> -->
            <button type="submit" class="cart-btn">Submit</button><br>
          </fieldset>

        </form>      
        
      </div>

    <!-- </main> -->

    <footer>
      <%- include('./partials/footer') %>
    </footer>

  </body>
</html>