<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>L</span>icorera <span>La B</span>otellita</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/" data-after="/">Inicio</a></li>
            <li><a href="productos">Productos</a></li>
            <li><a href="servicios">Servicios</a></li>
            <li>
              <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
              </div>
            </li>
            <li>
              <div class="submit">
                <i class="fa fa-search fa-2x blackiconcolor"></i>
              </div>
            </li>
            <li>
              <div class="carrito-compras">
                <a href="/compras" title="Carrito de compras">
                  <i class="fas fa-cart-plus fa-1x blackiconcolor"></i>
                </a>
              </div>
            </li>
            <li>
              <div class="register">
                <a href="/user/register" title="Registro">
                  <i class="fa-solid fa-user-plus fa-1x blackiconcolor"></i></a>
              </div>
            </li>

            <li>
              <div class="register">
                <a href="/user/login" title="Login">
                  <i class="fa-solid fa-user fa-1x blackiconcolor"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>