<meta charset="UTF-8">
<!-- <title>EJS Is Fun</title> -->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<meta name="google-signin-client_id"
content="1003853917135-db4s85m58gm7ghasa73rvsaf5kbt6kib.apps.googleusercontent.com">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
